<md-content layout-padding layout="column" layout-align="center center" flex>
  <md-whiteframe style="position: relative;" class="md-whiteframe-z1" layout="row" layout-align="center center">

    <md-button class="column" ng-repeat="y in [0, 1, 2, 3, 4, 5, 6] track by $index" ng-click="session.markCol(y)" ng-disabled="session.board[0][y] !== '_'">
      <div layout="column" layout-fill layout-align="space-around center">
        <div class="cell" flex layout-fill layout layout-align="center center" ng-repeat="x in [0, 1, 2, 3, 4, 5] track by $index">
          <md-icon class="cell-circle-fill" md-svg-icon="{{markToFill[session.board[x][y]]}}"></md-icon>
          <md-icon class="cell-circle-fill" md-svg-icon="games/four-in-a-line/circle.svg"></md-icon>
        </div>
      </div>
    </md-button>
    <svg ng-if="result && result !== 'tie'" class="path2" style="position: absolute; left: 0; bottom: 0; width: 609px; height: 400px;">
      <line ng-attr-x1="{{44 + 87*COL1}}" ng-attr-y1="{{32 + 67*ROW1}}" ng-attr-x2="{{44 + 87*COL2}}" ng-attr-y2="{{32 + 67*ROW2}}"
            style="stroke: {{C}}; stroke-width: 4px; opacity: 0.7;"/>
    </svg>
    <svg ng-if="result && result !== 'tie'" class="path2" style="position: absolute; left: 0; bottom: 0; width: 609px; height: 400px;">
      <line ng-attr-x1="{{44 + 87*COL2}}" ng-attr-y1="{{32 + 67*ROW2}}" ng-attr-x2="{{44 + 87*COL1}}" ng-attr-y2="{{32 + 67*ROW1}}"
            style="stroke: {{C}}; stroke-width: 4px; opacity: 0.7;"/>
    </svg>
  </md-whiteframe>
  <md-button class="animate-show" ng-click="session.restart()" ng-show="true">
    <md-icon md-svg-icon="components/room/replay.svg"></md-icon>
  </md-button>
</md-content>
