<md-content game-view layout-padding layout="column" layout-align="center center" flex
    style="border-bottom: 4px solid {{ownColor}}; border-top: 4px solid {{oppColor}};">
  <md-content style="position: relative; overflow: visible;" layout="column" layout-padding layout-align="center center">
    <div class="animate-show" style="position: absolute; top: -70px; left: 56px;" ng-show="session && !session.result && session.currentPlayer.mark !== ownMark">
      <md-icon style="height: 100px; width: 100px;" ng-style="{color: oppColor}" md-svg-src="components/room/arrow_up.svg">
      </md-icon>
    </div>
    <md-whiteframe class="md-whiteframe-z1 board" ng-class="{'done': session.result}" layout="column" layout-padding layout-align="center center">
      <div ng-include="game.templateUrl"></div>
    </md-whiteframe>
    <div class="animate-show" style="position: absolute; bottom: -70px; left: 56px; height: 100px" ng-show="session && !session.result && session.currentPlayer.mark === ownMark">
      <md-icon style="height: 100px; width: 100px;" ng-style="{color: ownColor}" md-svg-src="components/room/arrow_down.svg">
      </md-icon>
    </div>
  </md-content>
  <md-button class="animate-show" ng-click="session.init()" ng-show="!room.ready[ownMark]">
    <md-icon md-svg-icon="components/room/replay.svg"></md-icon>
  </md-button>
  <div class="animate-show" ng-show="room.ready[ownMark] && !room.ready[ownMark === 'X' ? 'O' : 'X']">
    Waiting for the second player...
  </div>
  <div class="md-display-1" style="position: absolute; bottom: 20px; right: 20px" ng-style="{color: ownColor}">
    <span fade-stat-change="own">{{playerStat}}</span>
  </div>
  <div class="md-display-1" style="position: absolute; top: 20px; right: 20px;" ng-style="{color: oppColor}">
    <span fade-stat-change="opp">{{playerStat}}</span>
  </div>


</md-content>
