<!-- columns -->
<svg ng-show="session.result === 'c0'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="34" y1="196" x2="34" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
</svg>
<svg ng-show="session.result === 'c0'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="34" y1="0" x2="34" y2="196"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
</svg>

<svg ng-show="session.result === 'c1'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="98" y1="196" x2="98" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 59px"/>
</svg>
<svg ng-show="session.result === 'c1'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="98" y1="0" x2="98" y2="196"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 59px"/>
</svg>

<svg ng-show="session.result === 'c2'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="162" y1="196" x2="162" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
</svg>
<svg ng-show="session.result === 'c2'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="162" y1="0" x2="162" y2="196"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
</svg>

<!-- rows -->
<svg ng-show="session.result === 'r0'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="0" y1="34" x2="196" y2="34"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
</svg>
<svg ng-show="session.result === 'r0'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="196" y1="34" x2="0" y2="34"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
</svg>

<svg ng-show="session.result === 'r1'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="0" y1="98" x2="196" y2="98"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 59px"/>
</svg>
<svg ng-show="session.result === 'r1'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="196" y1="98" x2="0" y2="98"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 59px"/>
</svg>

<svg ng-show="session.result === 'r2'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="0" y1="162" x2="196" y2="162"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
</svg>
<svg ng-show="session.result === 'r2'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="196" y1="162" x2="0" y2="162"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
</svg>

<svg ng-show="session.result === 'd0'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="196" y1="196" x2="0" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 85px"/>
</svg>
<svg ng-show="session.result === 'd0'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="0" y1="0" x2="196" y2="196"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 85px"/>
</svg>

<svg ng-show="session.result === 'd1'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="0" y1="196" x2="196" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 85px"/>
</svg>
<svg ng-show="session.result === 'd1'" style='position: absolute; margin: -8px 0 0 -8px; width: 196px; height: 196px;'>
    <line class="path" x1="196" y1="0" x2="0" y2="196"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 85px"/>
</svg>

<span ng-repeat="row in session.board track by $index" ng-init="rowIndex = $index" layout="row">
    <cell ng-repeat="col in row track by $index" x="{{rowIndex}}" y="{{$index}}"></cell>
</span>
