<md-whiteframe class="md-whiteframe-z1 board" ng-class="{'done': room.session.result}"  layout="column" layout-padding layout-align="center center">
  <!-- columns -->
  <svg ng-show="room.session.result === 'c0'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="34" y1="198" x2="34" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
  </svg>
  <svg ng-show="room.session.result === 'c0'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="34" y1="0" x2="34" y2="198"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
  </svg>

  <svg ng-show="room.session.result === 'c1'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="99" y1="198" x2="99" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 60px"/>
  </svg>
  <svg ng-show="room.session.result === 'c1'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="99" y1="0" x2="99" y2="198"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 60px"/>
  </svg>

  <svg ng-show="room.session.result === 'c2'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="164" y1="198" x2="164" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
  </svg>
  <svg  ng-show="room.session.result === 'c2'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="164" y1="0" x2="164" y2="198"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
  </svg>

  <!-- rows -->
  <svg ng-show="room.session.result === 'r0'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="0" y1="34" x2="198" y2="34"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
  </svg>
  <svg ng-show="room.session.result === 'r0'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="198" y1="34" x2="0" y2="34"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
  </svg>

  <svg ng-show="room.session.result === 'r1'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="0" y1="99" x2="198" y2="99"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 60px"/>
  </svg>
  <svg ng-show="room.session.result === 'r1'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="198" y1="99" x2="0" y2="99"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 60px"/>
  </svg>

  <svg ng-show="room.session.result === 'r2'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="0" y1="164" x2="198" y2="164"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
  </svg>
  <svg ng-show="room.session.result === 'r2'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="198" y1="164" x2="0" y2="164"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 69px"/>
  </svg>

  <svg ng-show="room.session.result === 'd0'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="198" y1="198" x2="0" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 85px"/>
  </svg>
  <svg ng-show="room.session.result === 'd0'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="0" y1="0" x2="198" y2="198"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 85px"/>
  </svg>


  <svg ng-show="room.session.result === 'd1'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="0" y1="198" x2="198" y2="0"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 85px"/>
  </svg>
  <svg ng-show="room.session.result === 'd1'" style='position: absolute; margin: -8px 0 0 -8px; width: 198px; height: 198px;'>
    <line class="path" x1="198" y1="0" x2="0" y2="198"
          style="opacity: 0.3; stroke: rgb(245, 255, 159); stroke-width: 85px"/>
  </svg>

  <span layout="row">
    <cell x="0" y="0"></cell>
    <cell x="0" y="1" style="border-style: solid; border-width: 0 1px; border-color: rgb(208, 208, 208);"></cell>
    <cell x="0" y="2"></cell>
  </span>
  <span layout="row">
    <cell x="1" y="0" style="border-style: solid; border-width: 1px 0; border-color: rgb(208, 208, 208);"></cell>
    <cell x="1" y="1" style="border: 1px solid rgb(208, 208, 208);"></cell>
    <cell x="1" y="2" style="border-style: solid; border-width: 1px 0; border-color: rgb(208, 208, 208);"></cell>
  </span>
  <span layout="row">
    <cell x="2" y="0"></cell>
    <cell x="2" y="1" style="border-style: solid; border-width: 0 1px; border-color: rgb(208, 208, 208);"></cell>
    <cell x="2" y="2"></cell>
  </span>

</md-whiteframe>
